html
{
	min-width: 600px;
	height: 100%;
}

body
{
	overflow-x: hidden;
	height: 100%;
}

.noscript
{
	padding: 16px 0;
	font-size: 24px;
	background-color: #F2DEDE;
	text-align: center;
}

.hero-unit.custom {
	background: url('../img/10.jpg') no-repeat 0 0;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	background-position: center center;
	height: 320px;
	padding: 0;
	margin: 0;
}

h1
{
	font-weight: 400;
}

#wrapper.custom {
	padding-left: 160px;
}

#sidebar-wrapper.custom {
	width: 160px;
	left: 0px;
	margin-left: 0px;
	overflow-x: hidden;
	background: #111;
}

.sidebar-nav.custom {
	width: 160px;
}

.sidebar-nav.custom > .sidebar-brand {
	padding-left: 4px;
	font-size: 24px;
	line-height: 64px;
	font-weight: 300;
}

.sidebar-nav.custom > .sidebar-brand.active {
	background: none;
}

.sidebar-nav.custom li {
	color: #999999;
	list-style-type: none;
	cursor: pointer;
}

.sidebar-nav.custom li.active {
	background: rgba(255,255,255,0.3);
}

#sidebar-wrapper li.active > a,
.sidebar-nav.custom li:hover {	color: white;
}

.sidebar-nav.custom > li > ul
{
	padding: 0;
}

.sidebar-nav.custom > li > ul > li > a
{
	padding-left: 42px;
}

#content
{
	padding-left: 0;
	padding-right: 0;
}

.content-wrapper
{
	padding: 8px 16px 16px 16px;
}

.container-fluid.custom {
	position: relative;
}

#content > iframe
{
	/* solves the scrolling issue and removes the horizontal white bar at the bottom of the iframe */
	display:block;
}

.hero-unit.custom h1 {
	color: #f1c40f;
	background: radial-gradient(at center, rgba(0,0,0,1) 10%, rgba(255,255,255,0)90%);
	text-align: center;
}

#wrapper,
#wrapper .container-fluid,
.pageContent {
	height: 100%;
}

.iframe-wrapper
{
	padding: 16px 16px 0 16px;
}

.tile-row
{
	padding: 0 6px;
}

.tile-announcement-row
{
	padding-left: 6px;
}

.tile-wrapper
{
	padding: 8px;
}

.tile-announcement-wrapper
{
	padding: 8px;
}

.tile, .tile-announcement
{
	height: 96px;
	text-align: center;
	background: #83c4e7;
	color: white;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
}

.tile
{
	height: 96px;
}

.tile-announcement
{
	height: 176px;
}

.tile-announcement i
{
	padding-top: 4px;
	padding-bottom: 8px;
}

.tile h2, .tile-announcement h2
{
	margin: 0;
	padding-top: 32px;
	color: white;
	font-size: 22px;
	font-weight: 400;
}

.tile-announcement h2
{
	padding-top: 8px;
}

.tile p, .tile-announcement p
{
	margin: 0;
	padding-top: 8px;
	color: white;
	font-size: 14px;
	font-weight: 400;
}

.tile-wrapper a:hover
{
	text-decoration: none;
}

#zyante-tile
{
	background: #f39f4a;
}

#codelab-tile
{
	background: #62a668;
}

#style-tile
{
	background: #5c87af;
}

#join-tile
{
	background: #d489b8;
}

#project-tile
{
	padding-top: 24px;
	background: #e26f6d;
}

#tutorial-tile
{
	padding-top: 32px;
}

#tutorial-tile h2
{
	line-height: 150%;
}

#tutorial-tile p
{
	padding-top: 20px;
}

#review-tile
{
	padding-top: 32px;
}

#review-tile h2
{
	line-height: 150%;
}

#review-tile p
{
	padding-top: 16px;
}

#exam-tile
{
	padding-top: 8px;
	background: #78c4c5;
}

#announcement-banner
{
	height: 40px;
	text-align: center;
	background: #CF789A;
	color: white;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
	margin: 8px;
	padding: 10px;
}

#deadlines-wrapper
{
	margin: 0;
	padding: 8px 16px 0 8px;
}

#deadlines
{
	margin-left: 0px;
	margin-right: 0px;
	padding-top: 10px;
	background: #9ea7c7;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	color: white;
	text-align: center;
}

@media (max-width: 855px)
{
	@media (min-width: 768px)
	{
		#join-tile h2
		{
			padding-top: 24px;
		}
		.tile-announcement-row
		{
			padding-right: 6px;
		}
	}
}

@media (max-width: 768px)
{
	.tile-announcement-row
	{
		padding-right: 6px;
	}
	
	#deadlines-wrapper
	{
		padding-left: 16px;
	}
}

a:focus
{
    outline: none !important;
    color: #428bca;
    text-decoration: none;
}

a:focus:hover
{
	color: #2D6594;
    text-decoration: underline;
}

.progress-wheel
{
	padding-top: 64px;
	position: absolute;
	z-index: -2;
	width: 100%;
	text-align: center;
}

.progress-wheel-low
{
	padding-top: 192px;
}

#staff-wrapper
{
	margin: 0;
	padding: 16px 16px 160px 16px;
	background: #67bdd9;
	color: white;
	text-align: center;
}

#staff-header
{
	padding-top: 16px;
	padding-bottom: 16px;
}

#staff-wrapper hr
{
	border-top: 1px solid white;
}

#staff-wrapper a, #staff-wrapper a:hover
{
	color: white;
	text-decoration: underline;
}

#staff-wrapper h1
{
	margin: 16px;
	font-weight: 300;
}

.staff-member
{
	text-align: center;
	padding: 16px;
}

.staff-member .img-wrapper
{
	max-width: 150px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.staff-member > .img-wrapper > img
{
	border: 4px solid white;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-ms-border-radius: 8px;
	-o-border-radius: 8px;
	border-radius: 8px;
	/*cursor: pointer;*/
}

.staff-member-name
{
	padding-top: 8px;
}

.popover-title
{
    text-align: center;
}

.popover
{
	color: #333; /*override staff-wrapper color*/
}

#staff-wrapper .popover a
{
	color: #428bca; /*override staff-wrapper color*/
}

.popover-content ul
{
    margin-bottom: 0px;
    list-style: none;
    padding-left: 20px;
}

.popover-content .staff-member-name
{
    text-align: center;
}

.staff-info-category
{
    margin-top: 10px;
}

.staff-info-category:first-child
{
    margin-top: 0px;
}

.sidebar-nav .fa-caret-up
{
	float: right;
	line-height: 40px;
	margin-right: 16px;
}

.sidebar-nav .collapsed > .fa-caret-up
{
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
}

#application
{
	text-align: center;
	font-weight: 300;
	margin-top: 40px;
}

#application #positions
{
	font-size: 24px;
	list-style-type: none;
	padding: 0;
	margin-top: 40px;
	display: inline-block;
}

#application #positions a, a:hover
{
	color: black;
	text-decoration: none;
}

#application #positions li
{
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 20px;
	margin-bottom: 20px;
	width: 380px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
}

#application #positions li:hover
{
	background: #dee8ec;
}

#tutoring
{
	color: white;
	height: 100%;
	overflow-y: hidden;
}

#tutoring-background
{
	width: 100%;
	height: 100%;
	z-index: -4;
	position: absolute;
	background: #7883B8;
}

#tutoring-header
{
	color: white;
	text-align:center;
	padding-top:20px;
	padding-left:20px;
	padding-right:20px;
	position:absolute;
	background: #7883B8;
	width: 100%;
	height: 190px;
}

#tutoring-calendar
{
	margin-top: 42px;
}

@media (max-width: 820px)
{
    #tutoring-header
	{
		height: 205px;
	}
}

@media (max-width: 618px)
{
    #tutoring-header
	{
		height: 220px;
	}
}

@media (min-width: 1474px)
{
    #tutoring-calendar
	{
		margin-top: 57px;
	}
}

#hours
{
	background: #64A56A;
	color: white;
	height: 100%;
	text-align: center;
}

#hours-header
{
	height: 160px;
	padding-top: 32px;
}

#tutorials-header
{
	background: #5a83b2;
	color: white;
	padding-top: 32px;
	padding-bottom: 32px;
}

#tutorials a
{
	text-decoration: underline;
	color: white;
}

#tutorials-view
{
	padding: 24px;
	color: white;
	padding-bottom: 24px;
}

#tutorials
{
	text-align: center;
	background: #85C4E5;
	background-attachment: fixed;
}

#tutorials h2
{
	margin-top: 48px;
	margin-bottom: 24px;
	font-weight: 400;
	font-size: 24px;
}

#tutorials ul
{
	list-style-type: none;
	padding: 0;
}

.tutorials-video
{
	padding: 0;
	width: 640px;
	height: 380px;
	margin: 0 auto;
}
